@model btn.Models.Product
@using btn.Helper

@{
    ViewData["Title"] = "Xóa mặt hàng";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<section class="content">
    <div class="ms-2 mx-2">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Thông tin mặt hàng cần xóa</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">

                <strong><i class="fas fa-id-card mr-1"></i> @Html.DisplayNameFor(m => m.ProductId)</strong>
                <p class="text-muted">@Html.DisplayFor(m => m.ProductId)</p>

                <hr>

                <strong><i class="fas fa-phone-alt mr-1"></i> @Html.DisplayNameFor(m => m.ProductName)</strong>
                <p class="text-muted">@Html.DisplayFor(m => m.ProductName)</p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> @Html.DisplayNameFor(m => m.Unit)</strong>
                <p class="text-muted">@Html.DisplayFor(m => m.Unit)</p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> @Html.DisplayNameFor(m => m.ProvidePlace)</strong>
                <p class="text-muted">@Html.DisplayFor(m => m.ProvidePlace)</p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> @Html.DisplayNameFor(m => m.Uses)</strong>
                <p class="text-muted">@Html.DisplayFor(m => m.Uses)</p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> @Html.DisplayNameFor(m => m.Color)</strong>
                <p class="text-muted">@Html.DisplayFor(m => m.Color)</p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> @Html.DisplayNameFor(m => m.Amount)</strong>
                <p class="text-muted">@Html.DisplayFor(m => m.Amount)</p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> @Html.DisplayNameFor(m => m.MoneyOnImport)</strong>
                <p class="text-muted">@Html.DisplayFor(m => m.MoneyOnImport)</p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> @Html.DisplayNameFor(m => m.MoneyOnSell)</strong>
                <p class="text-muted">@Html.DisplayFor(m => m.MoneyOnSell)</p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> @Html.DisplayNameFor(m => m.Character)</strong>
                <p class="text-muted">@Html.DisplayFor(m => m.Character)</p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- Xác nhận xóa -->
        <form asp-action="Delete" method="post">
            <div class="form-group">
                <input type="hidden" asp-for="ProductId" />
                <input type="submit" value="Xóa" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
            </div>
        </form>
    </div>
</section>