@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model IEnumerable<btn.Models.Product>

@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<div class="mt-2">
    <h1>Hàng hóa</h1>
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input id="keyword" class="form-control" name="keyword" type="text" placeholder="Search product" />
            <button id="btnSearch" class="btn btn-primary" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
    <div id="content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mã hàng</th>
                    <th>Tên hàng</th>
                    <th>Đơn vị</th>
                    <th>Nơi sản xuất</th>
                    <th>Công dụng</th>
                    <th>Màu sắc</th>
                    <th>Số lượng</th>
                    <th>Giá nhập</th>
                    <th>Giá bán</th>
                    <th>Đặc điểm</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Model)
                {
                    <tr>
                        <td>@s.ProductId</td>
                        <td>@s.ProductName</td>
                        <td>@s.Unit</td>
                        <td>@s.ProvidePlace</td>
                        <td>@s.Uses</td>
                        <td>@s.Color</td>
                        <td>@s.Amount</td>
                        <td>@s.MoneyOnImport</td>
                        <td>@s.MoneyOnSell</td>
                        <td>@s.Character</td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@s.ProductId">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@s.ProductId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <ul class="pagination">
            @for (int i = 1; i <= ViewBag.pageNum; i++)
            {
                <li class="page-item" page="@i" @(ViewBag.mid != null ? "mid='ViewBag.mid'" : "") @(ViewBag.keyword != null ? "keyword='@ViewBag.keyword'" : "")>
                    <a class="page-link">@i</a>
                </li>
            }
        </ul>
    </div>
    

    <a asp-action="Create" class="btn btn-primary">Tạo hàng hóa mới</a>
</div>
@section Scripts {
    <script>

        $('body').on('click', 'li.page-item', function (e) {
            var page = $(this).attr("page");
            var mid = $(this).attr("mid");
            var keyword = $(this).attr("keyword");
            var data = { mid: mid, keyword: keyword, pageIndex: page };
            $.ajax({
                url: "ProductFilter",
                data: data,
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });
        $(".nav li").click(function (e) {
            var id = $(this).attr("id");
            var data = { mid: id };
            $.ajax({
                url: "ProductFilter",
                data: data,
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });
        $("button#btnSearch").click(function (e) {
            var keyword = $("#keyword").val();
            var data = { keyword: keyword };
            $.ajax({
                url: "ProductFilter",
                data: data,
                success: function (response) {
                    $("div#content").html(response);
                }
            });
        });
    </script>
}