@model IEnumerable<Provider>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Mã nhà cung cấp</th>
            <th>Tên nhà cung cấp</th>
            <th>Địa chỉ</th>
            <th>Số điện thoại</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.ProviderID</td>
                <td>@s.ProviderName</td>
                <td>@s.Address</td>
                <td>@s.PhoneNumber</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@s.ProviderID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@s.ProviderID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<ul class="pagination">
    @for (int i = 1; i <= ViewBag.pageNum; i++)
    {
        <li class="page-item" page="@i" @(ViewBag.mid != null ? "mid='ViewBag.mid'" : "") @(ViewBag.keyword != null ? "keyword='@ViewBag.keyword'" : "")>
            <a class="page-link">@i</a>
        </li>
    }
</ul>