@model btn.Models.SellBill

@{
    ViewData["Title"] = "SellBillDetail";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<div class="mt-2">
    <h1>Chi tiết hóa đơn bán</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mã Hóa Đơn</th>
                <th>Mã hàng</th>
                <th>Số lượng bán</th>
                <th>Giảm giá</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model.SellBillDetails)
            {
                <tr>
                    <td>@s.SellBillId</td>
                    <td>@s.ProductId</td>
                    <td>@s.ProductSellAmount</td>
                    <td>@s.SellDiscount</td>
                    <td>@s.SellMoney</td>
                    <td>
                        <a asp-action="EditDetail" asp-route-id="@s.SellBillDetailId">Edit</a> |
                        <a asp-action="DeleteDetail" asp-route-id="@s.SellBillDetailId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-action="CreateDetail" asp-route-sellbillId="@Model.SellBillId" class="btn btn-primary">Thêm hàng hóa vào hóa đơn</a>
</div>